<!DOCTYPE html>
<html>
  <head>
    <title>LearnProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'trix' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
