<div class="card border-info mb-3" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px; max-height:780px;overflow-y: auto;">
  <h1 style="margin:30px 0px 0px 170px"><%= type%></h1>
  <div class="card-body">
    <%= form_with(model: book, class: 'needs-validation', novalidate: true) do |form| %>

      <div class="form-field">
        <%= form.label :title, 'Title', class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control', required: true %>
      </div>

      <div class="form-field">
        <%= form.label :year_published, 'Year published', class: 'form-label' %>
        <%= form.number_field :year_published, in: 1500..2023, step: 1, class: 'form-control', required: true %>
      </div>

      <div class="form-field">
        <%= form.label :price, 'Price', class: 'form-label' %>
        <%= form.number_field :price, class: 'form-control', required: true %>
      </div>

      <div class="form-field">
        <div class="form-group col-md-4">
          <%= form.label :out_of_print, 'Out of print', class: 'form-label' %>
        </div>
        <div class="form-group col-md-4">
          <%= form.radio_button :out_of_print, true, id: 'flexRadioDefault1', class: 'form-check-input' %>
          <%= form.label 'flexRadioDefault1', 'Yes', class: 'form-check-label' %>
        </div>
        <div class="form-group col-md-4">
          <%= form.radio_button :out_of_print, false, id: 'flexRadioDefault2', class: 'form-check-input' %>
          <%= form.label 'flexRadioDefault2', 'No', class: 'form-check-label' %>
        </div>
      </div>

      <div class="form-field">
        <%= form.label :views, 'Views', class: 'form-label' %>
        <%= form.number_field :views, min: 0, class: 'form-control', required: true %>
      </div>

      <div class="form-field">
        <%= form.label :supplier_id, 'Supplier', class: 'form-label' %>
        <%= form.collection_select :supplier_id, Supplier.all, :id, :name, { include_blank: 'Select a Supplier' }, { class: 'form-select', required: true } %>
      </div>


      <div class="form-field">
        <%= form.label :content, 'Content', class: 'form-label' %>
        <%= form.rich_text_area :content %>
      </div>

      <div class="form-actions" style="text-align:right">
        <%= form.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
</div>