<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="margin-bottom: 50px;"><%= book.title%></h5>
      <p class="card-text">
        <strong>Out of Print:</strong> <%= book.out_of_print ? 'Yes' : 'No' %><br>
        <strong>Year Published:</strong> <%= book.year_published %><br>
        <strong>Views:</strong> <%= book.views %><br>
        <strong>Price:</strong> <%= book.price %><br>
        <strong>Supplier ID:</strong> <%= book.supplier_id %><br>
      </p>
      <%= link_to "Edit book", edit_book_path(book), class: 'btn btn-primary', role: 'button'%>
    </div>
</div>