<div class="card border-info mb-3" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 500px">
    <h1 style="margin-left: 150px;padding-bottom: 100px;padding-top:50px"><%= type%></h1>
    <div class="card-body">
      <%= form_with(model: author, class: 'needs-validation', novalidate: true) do |form| %>  
        <%= form.label :first_name, 'First Name' %>
        <div class="form-field">
          <%= form.text_field :first_name, class: 'form-control', required: true %>
        </div>
  
        <%= form.label :last_name, 'Last Name' %>
        <div class="form-field">
            <%= form.text_field :last_name, class: 'form-control', required: true %>
        </div>
  
        <%= form.label :title, 'Title' %>
        <div class="form-field">
            <%= form.text_field :title, class: 'form-control', required: true, placeholder: 'Ex: Author, Poet, Romance Novelist, ...' %>
        </div>

        <%= form.label :email, 'Email' %>
        <div class="form-field">
            <%= form.text_field :email, class: 'form-control', required: true, placeholder: 'Ex: example@gmail.com, ...' %>
        </div>
  
        <%= form.label :picture %>
        <div class="form-field">
          <%= form.file_field :picture %>
        </div>
               
        <div class="form-actions" style="text-align:right">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
</div>