<%= form_with(model: author, class: 'needs-validation', novalidate: true) do |form| %>
    <div class="card-group">
        <div class="card border-info border-top-0 border-start-0 border-bottom-0" style="width: 200px"></div>
        <div class="card border-info" style="width: 200px">
          <h1 style="margin-left: 150px;padding-bottom: 10px;padding-top:10px"><%= type%></h1>
          <div class="card-body">
            <div class="form-field">
                <%= form.label :first_name, 'First Name', class:'form-label' %>
                <%= form.text_field :first_name, class: 'form-control', required: true %>
              </div>
        
              <div class="form-field">
                <%= form.label :last_name, 'Last Name', class:'form-label' %>
                  <%= form.text_field :last_name, class: 'form-control', required: true %>
              </div>
        
              <div class="form-field">
                <%= form.label :title, 'Title', class:'form-label' %>
                  <%= form.text_field :title, class: 'form-control', required: true, placeholder: 'Ex: Author, Poet, Romance Novelist, ...' %>
              </div>

              <div class="form-field">
                <%= form.label :email, 'Email', class:'form-label' %>
                  <%= form.text_field :email, class: 'form-control', required: true, placeholder: 'Ex: example@gmail.com, ...' %>
              </div>
        
              <div class="form-field">
                <%= form.label :picture, 'Picture', class:'form-label' %>
                <%= form.file_field :picture, style:'margin-left:20px' %>
              </div>

              <div class="form-field">
                <%= form.label :title, 'Books', class:'form-label' %>
                <% count = 0 %>
                <%= link_to_add_association "Add books", form, :books, data: {association_insertion_node: '.books', association_insertion_method: :append}, class:'btn btn-warning',render_options: {locals: { count: count + 1 }}%>
              </div>
              <div class="form-actions" style="text-align:right">
                <%= form.submit 'Save', class: 'btn btn-primary' %>
              </div>
          </div>
        </div>

        <div class="form-field books" style="max-height: 680px; overflow-y: auto; width: 600px;margin-left:20px">
          <%= form.fields_for :books do |book| %>
            <%= render 'book_fields', f: book, count: 'something' %>
          <% end %>
        </div>
    </div>
<% end %>