<p style="color: green"><%= notice %></p>

<!-- <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %> -->

<h1>List of Authors</h1>
<%= link_to new_author_path, class: 'btn btn-primary', style: "position: fixed;right:0;top:0" do %>
  + Create new author
<% end %>
<div id="books">
  <table class="table table-striped">
    <thead>
      <tr class="table-info">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <%= render author %>
      <% end %>
    </tbody>
  </table>
  <%= image_tag 'image1.jpg' %>
</div>





